<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/handlebars/handlebars.min.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/libs/jquery-ui/jquery-ui.js"></script>
    <script src="javascripts/models/Event.js"></script>
    <script src="javascripts/models/Track.js"></script>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<button type="button" class="btn btn-primary btn-lg" id="deleteBtn" name="deleteBtn">Delete ALL !!!</button>
<div class="container">
    <div class="row">
        <div class="col-sm-6"><ul id="events" class="list-group"></ul></div>
        <div class="col-sm-6 forms-container">
            <form id="eventForm">
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input type="text" class="form-control" id="tags" name="tags" placeholder="tags">
                </div>
                <div class="form-group">
                    <label for="startTv">Start tv</label>
                    <input type="number" class="form-control" id="startTv" name="startTv" min="0">
                </div>
                <div class="form-group">
                    <label for="endTv">End tv</label>
                    <input type="number" class="form-control" id="endTv" name="endTv">
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" rows="3" id="notes" name="notes"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>

<script type="text/x-handlebars" id="event_template">
    <li id='{{id}}' class="list-group-item">
    <p style="color : red">{{notes}}</p>
        <div class="xxx hidden">{{startTv}} : {{endTv}}</div>
        {{tags}}
        <button type="button" class="btn btn-danger delete"><span class="glyphicon glyphicon-trash"></span></button>
        <button type="button" class="btn btn-info expand"><span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-success edit"><span class="glyphicon glyphicon-pencil"></span></button>
        </li>
    </script>
<script  type="text/x-handlebars" id="event_editForm">
        <form>
            <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" class="form-control" name="tags" placeholder="tags" value="{{tags}}">
            </div>
            <div class="form-group">
                <label for="startTv">Start tv</label>
                <input type="number" class="form-control" name="startTv" min="0" value="{{startTv}}">
            </div>
            <div class="form-group">
                <label for="endTv">End tv</label>
                <input type="number" class="form-control" name="endTv" value="{{endTv}}">
            </div>
            <div class="form-group">
                <label for="notes">Notes</label>
                <textarea class="form-control" rows="3" name="notes" value="{{notes}}">{{notes}}</textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </script>
</body>
</html>
