%flex {
  display: flex;

  &--center{
    @extend %flex;
    align-items: center;
    justify-content: center;
  }
}

%exfont {
  font-family: $ex_font;
  text-transform: uppercase;
}

%clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%no-decor{
  &:hover{
    text-decoration: none;
  }
}

@mixin clear-link($color) {
  color: $color;
  &:visited, &:active, &:focus, &:hover {
    color: $color;
    text-decoration: none;
  }
}