.vor{
  &_divider{
    position: relative;
    &:after{
      content: '';
      display: block;
      width: 30px;
      margin: 20px 0;
      border-bottom: 5px solid lighten($text_color, 50%);
    }
  }
}